TemplateBuilder/TemplateBuilder/Template.xsd

<?xml version="1.0" ?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Template">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" type="xsd:string" />
        <xsd:element name="description" type="xsd:string" />
        <xsd:element name="promptgroups">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="promptgroup">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="prompt">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="type">
                            <xsd:complexType>
                              <xsd:attribute name="checkedValue" type="xsd:string" />
                              <xsd:attribute name="uncheckedValue" type="xsd:string" />
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="name" type="xsd:string" />
                          <xsd:element name="label" type="xsd:string" />
                          <xsd:element name="description" type="xsd:string" />
                          <xsd:element name="hint" type="xsd:string" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="name" type="xsd:string" />
                  <xsd:attribute name="repeatable" type="xsd:string" />
                  <xsd:attribute name="maxRepeats" type="xsd:int" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>